
@media screen and (max-width:410px){
    .stream {
        width: 190px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }  
}
@media screen and (max-width:356px){
    .stream {
        width: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }  
}