.section-header h4 {
    font-size: 36px;
    font-weight: var(--font-weight-bold);
    color: var(--light-pinky);
    padding: calc(var(--padding-primary)/2);
    text-shadow: 3px 2px solid var(--dark);
    text-align: center;
}