.personInfoParent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    width: 100%;
    gap: 40px;
}
.Infoimg-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;
}
.Infoimg-div img {
    border-radius: var(--border-raduis);
    width: 90%;
}
.cardInfo {
    background-color: var(--nebety);
    border-radius: var(--border-raduis);
    padding: var(--padding-primary);
    margin-left: 10px;
}

 @media (max-width:1100px) {
    .cardInfo{
        display: none;
    }
 }
@media (max-width:990px){
    .personInfoParent {
        grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    }
    .Infoimg-div img {
        width: 80%;
    }
    .About .button-container{
        width: 270px;
    }
}
@media (max-width:410px) {
    .About .button-container{
        width: 145px;
    }
}
@media (max-width:311px) {
    .Infoimg-div img {
        width: 80%;
        border-radius: 50%;
        margin-right: 30px;
    }
    .MostPopular {
     width: 180px;
    }
    .img-icon-info img {
        border-radius: 50%;
    }
    .Clips-container {
        width: 150px;
    }
}
